.ctn {
   width: 100%;
   border: 1px solid rgb(165, 165, 165);
   border-radius: 8px;
   margin-bottom: 4px;
}

.ctn-materia {
    /* border: 1px solid black; */
    /* border-radius: 8px 8px 0 0; */
    padding: 10px;
}

.ctn-grupo {
    background-color: rgb(207, 207, 207);
    border-radius: 8px;
    margin: 4px;
    padding: 6px;
    cursor: pointer;
   

}
.ctn-grupo.selected {
    background-color: rgb(75, 89, 239);
    
   

}